.btnsContainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 95%;
}

.btn {
    margin: 1rem .5rem 1rem;
    padding: .5rem;
    border: none;
    width: 120px;
    height: 40px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

.backBtn {
    background-color: rgb(126, 168, 252);
    border: 1px solid rgb(219, 231, 255);
}

.backBtn:hover {
    background-color: rgb(219, 231, 255);
    color: black;
}

.backBtn:active {
    background-color: rgb(250, 250, 250);
    color: black;
  }

.homeBtn {
    background: #d18843;
}

.homeBtn:hover {
    background: #c04903;
}

.homeBtn:active {
    background: #c00303;
}

.pokes {
    display: flex;
    margin: .5rem;
    justify-content: center;
}

.leftSide {
    width: 40%;
    padding: 3.25rem 1rem 1rem 1rem;
    background-color: whitesmoke;
}

.rightSide {
    width: 40%;
    padding: 1rem;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
}

.rightSideActive {
  border: 1px solid rgb(221, 219, 219);
}

.compareWith {
    text-align: center;
}

.compareWith select {
    margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.poke h1 {
    margin: .5rem;
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
}

.imgContainer img {
    max-width: 90%;
    margin-top: 20px;
}

.generation {
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-top: .7rem;
  /* justify-content: flex-end; */
  /* width: 55%; */
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: .2rem;
  border-bottom: 1px solid rgb(224, 224, 224);
}

@media (max-width: 550px) {
  .leftSide {
    padding: 4.55rem 1rem 1rem 1rem;
}
}

@media (max-width: 768px) {
    .leftSide,.rightSide {
        width: 50%;
    }
}